<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{software.name}} - {{?file.name}}</title>

    <!-- JS -->
    <script src="js/dynamicBrackets.js" defer></script>
</head>
<body>
<div id="app">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni architecto tenetur quod doloremque, totam excepturi? Officia quaerat libero tempora labore. Quas voluptatum minus, unde perferendis explicabo obcaecati aliquam! Deleniti, odit.
</div>
</body>
</html>